<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DestinationServer" value="localhost"/>
    <add key="DestinationDatabase" value="Kevintest"/>
    <add key="DestinationTable" value="s71_Challenge"/>
    <add key="DestinationCredentials" value="root;fortuneFaded"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>